<div class="container">
    <mat-list>
        <div>
            <mat-list-item>
                <mat-icon mat-list-icon>lorem3</mat-icon>
                <div mat-line> <h2>Tensorflow</h2></div>
                <div mat-line><p>Lorem ipsum dolor sit amet.</p></div>
                <div mat-line> 
                    <a class="bordered">3 Stars</a>
                    <a class="bordered">1 Issues</a>
                    Lorem ipsum dolor sit amet.
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>