.container {
  margin: 15px;
  height: auto;
  width: 90%;
  border: 2px solid red;
  color: black !important;
}
.mat-line {
  color: black !important;
  white-space: normal !important;
}
.mat-line h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.mat-line a {
  margin: 5px;
}
.bordered {
  border: 2px solid black;
  border-radius: 12px;
  border-width: medium;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 5px;
}
.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.25);
}
